# --- Visual Studio / MSBuild ---
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Prerequisites / dependency files ---
*.d

# --- Build folders ---
Debug/
Release/
x64/
x86/
build/
bin/
obj/
out/

# --- C/C++ intermediates ---
*.obj
*.o
*.lo
*.slo
*.sbr
*.pch
*.gch
*.ipch
*.tlog
*.idb
*.ilk
*.iobj
*.ipdb
*.exp
*.lib

# --- Debug symbols / crash dumps ---
*.pdb
*.dmp
*.dwo

# --- Output binaries ---
*.exe
*.dll
*.asi
*.out
*.app

# --- Logs ---
*.log

# --- Old Backups ---
source_backups/
